/* global styles  */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #2d2b2b;
    font-weight: 400;
}

.btn {
    border-radius: 5px;
    background: #E55473;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
}

.btn:hover {
    background: #de365a;
}



/* navigation bar style start */
header {
    width: 100%;
    position: sticky;
    top: 0;
    background: #E55473;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;
    z-index: 50;
  }
  
  .logo h2 {
    cursor: pointer;
    color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #fff;
    color: #E55473;
  }

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }
  
  nav > ul {
    display: flex;
    gap: 10px;
  }
  
  nav li {
    list-style: none;
    display: flex;
    align-items: center;
    z-index: 60;
  }
  
  nav > ul > li > a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
    transition: 0.5s;
  }
  
  nav > ul:first-child > li > a {
    padding: 8px 20px;
  }
  
  nav li a:hover {
    background-color: #a51a38;
    
  }



/* header-banner Section styles */
.header-banner {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: #FCEEF1;
}

.header-banner-text {
    width: 600px;
    margin-left: 150px;
}

.header-banner-title {
    width: 90%;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
}

.header-banner-desc {
    margin: 20px 0;
    color: #888283;
    line-height: 30px;
    width: 530px;
}

.header-banner-img {
    padding-top: 10vh;
    padding-left: 25px;
}

.banner-img {
    height: 90vh;
    width: 400px;
}



/* Featured Flowers section styles starts*/
.feat-flowers {
    display: flex;
    height: 100vh;
    background: #FFFFFF;
    align-items: center;
    flex-direction: column;
    margin-top: 90px;
}

.feat-text {
    text-align: center;
    margin-bottom: 30px;
}

.feat-title {
    font-size: 24px;
}

.feat-desc {
    color: #888283;
    font-size: 14px;
    padding: 20px 360px;
}

.flowers {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.flower-box {
    width: 200px;
    height: 280px;
    border-radius: 300px 300px 0px 0px;
    padding: 100px 60px 0px 60px;
}

#fl1 {
    background: #F1DDE7;
}

#fl2 {
    background: #D9EFF0;
}

#fl3 {
    background: #E3EBDB;
}

.flower-desc {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration-line: underline;
}



/* service-info section styles starts */
.service-info-section {
    display: flex;
    height: 40vh;
    justify-content: center;
}

.service-info-container {
    background-color: #F4F4F4;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 1000px;
    height: 30vh;
}

.ser-icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ser-icon img {
    width: 60px;
    height: 60px;
}

.ser-desc {
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
    font-weight: normal;
}


/* hot deal section styles starts*/
.hot-deal-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 400px;
    background: #FDF6F8;
}

.hot-deal-text {
    width: 500px;
    padding-left: 250px;
    text-align: center;
}

.hot-deal-img {
    width: 200px;
    padding-right: 250px;
}

.hot-deal-title {
    font-size: 26px;
    font-weight: bold;
}

.hot-deal-desc {
    font-size: 14px;
    color: #888283;
    padding: 20px 0;
}

.highlight {
    color: #E55473;
}



/* instagram section styles starts*/
.insta-section {
    padding-top: 60px;
    margin-bottom: 90px;
}

.insta-text-box {
    text-align: center;
    width: 80vh;
    padding-left: 400px;
}

.insta-title {
    font-size: 28px;
}

.insta-desc {
    font-size: 14px;
    color: #888283;
    padding: 10px 0;
}

.insta-img-box {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 30px;
}

.insta-img {
    width: 240px;
}


/* deal section style starts */
.deal-section {
    position: relative;
    text-align: center;
    background-image: url(images/banner-01.png);
    border-radius: 5px;
    height: 50vh;
    width: 78%;
    margin: 0 auto;
    margin-bottom: 90px;
}

.deal-section h2{
    font-size: 30px;
    padding-top: 80px;
    padding-bottom: 20px;
}

.deal-section p{
    padding-bottom: 30px;
    color: #888283;
}
.input-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inp-email {
    width: 550px;
    height: 50px;
    border-radius: 8px;
    border-style: none;
    background: #FFF;
    margin-right: 20px;
}

::placeholder {
    padding-left: 30px;
    color: #888283;
    font-size: 14px;
}

.input-box button{
    height: 50px;
}
  

/* footer section styles start */
footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #0b0202;
    height: 40vh;
    padding: 40px;
    text-align: center;

}

.footer-title {
    color: white;
    font-size: 40px;
    font-weight: bold;
    line-height: normal;
}

.footer-desc {
    color: rgba(255, 255, 255, 0.90);
    font-size: 14px;
    font-style: normal;
    width: 500px;
}

.copyright p{
    color: rgba(229, 84, 115, 0.554);
}