/* global styles  */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #2d2b2b;
    font-weight: 400;
}

.btn {
    border-radius: 5px;
    background: #E55473;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
}

.btn:hover {
    background: #de365a;
}


/* header-banner Section styles */
.header-banner {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: #FCEEF1;
}

.header-banner-text {
    width: 600px;
    margin-left: 150px;
}

.header-banner-title {
    width: 90%;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
}

.header-banner-desc {
    margin: 20px 0;
    color: #888283;
    line-height: 30px;
    width: 530px;
}

.header-banner-img {
    padding-top: 10vh;
    padding-left: 25px;
}

.banner-img {
    height: 90vh;
    width: 400px;
}




/* Featured Flowers section styles starts*/
.feat-flowers {
    display: flex;
    height: 100vh;
    background: #FFFFFF;
    align-items: center;
    flex-direction: column;
    margin-top: 90px;
}

.feat-text {
    text-align: center;
    margin-bottom: 30px;
}

.feat-title {
    font-size: 24px;
}

.feat-desc {
    color: #888283;
    font-size: 14px;
    padding: 20px 360px;
}

.flowers {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.flower-box {
    width: 200px;
    height: 280px;
    border-radius: 300px 300px 0px 0px;
    padding: 100px 60px 0px 60px;
}

#fl1 {
    background: #F1DDE7;
}

#fl2 {
    background: #D9EFF0;
}

#fl3 {
    background: #E3EBDB;
}

.flower-desc {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration-line: underline;
}



/* service-info section styles starts */
.service-info-section {
    display: flex;
    height: 40vh;
    justify-content: center;
}

.service-info-container {
    background-color: #F4F4F4;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 1000px;
    height: 30vh;
}

.ser-icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ser-icon img {
    width: 60px;
    height: 60px;
}

.ser-desc {
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
    font-weight: normal;
}


/* hot deal section styles starts*/
.hot-deal-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 400px;
    background: #FDF6F8;
}

.hot-deal-text {
    width: 500px;
    padding-left: 250px;
    text-align: center;
}

.hot-deal-img {
    width: 200px;
    padding-right: 250px;
}

.hot-deal-title {
    font-size: 26px;
    font-weight: bold;
}

.hot-deal-desc {
    font-size: 14px;
    color: #888283;
    padding: 20px 0;
}

.highlight {
    color: #E55473;
}



/* instagram section styles starts*/
.insta-section {
    padding-top: 60px;
    margin-bottom: 80px;
}

.insta-text-box {
    text-align: center;
    width: 80vh;
    padding-left: 400px;
}

.insta-title {
    font-size: 28px;
}

.insta-desc {
    font-size: 14px;
    color: #888283;
    padding: 10px 0;
}

.insta-img-box {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 30px;
}

.insta-img {
    width: 240px;
}