/* global styles  */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #2d2b2b;
    font-weight: 400;
}

.btn {
    border-radius: 5px;
    background: #E55473;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
}

.btn:hover{
    background: #de365a;
}


/* header-banner Section styles */
.header-banner {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: #FCEEF1;
}

.header-banner-text {
    width: 600px;
    margin-left: 150px;
}

.header-banner-title {
    width: 90%;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
}

.header-banner-desc {
    margin: 20px 0;
    color: #888283;
    line-height: 30px;
    width: 530px;
}

.header-banner-img {
    padding-top: 10vh;
    padding-left: 25px;
}

.banner-img {
    height: 90vh;
    width: 400px;
}




/* Featured Flowers section styles */
.feat-flowers {
    display: flex;
    height: 100vh;
    background: #FFFFFF;
    align-items: center;
    flex-direction: column;
    margin-top: 90px;
}

.feat-text {
    text-align: center;
    margin-bottom: 30px;
}

.feat-title {
    font-size: 24px;
}

.feat-desc {
    color: #888283;
    font-size: 14px;
    padding: 20px 360px;
}
.flowers {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.flower-box{
    width: 200px;
    height: 280px;
    border-radius: 300px 300px 0px 0px;
    padding: 100px 60px 0px 60px;
}
#fl1 {
    background: #F1DDE7;
}

#fl2 {
    background: #D9EFF0;
}

#fl3 {
    background: #E3EBDB;
}

.flower-desc {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration-line: underline;
}